body{
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;  
}
.h1 {
    background-color: #9cddfd;
    padding: 36px;
    text-align: center;
    border: 2px solid gray;
}
section{ 
    background-color: rgb(180, 173, 173);
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    border: 1px solid rgb(66, 65, 65);
} 

main{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

section {
    background-color: lightgrey;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: black;
    border: 1px solid darkgrey;
    margin: 20px;
    width: 50%;
}

footer {
    background-color: black;
    color: white;
    text-align: right;
    padding: 20px 0;
    font-family: Verdana, sans-serif;
    font-size: 14px;
}